/* Aquí van tus estilos */

*{
    background-color: lightgrey;
    margin: 1rem;
}

.form{
    border-bottom: 4px solid green;
    padding-bottom: 1rem;
}

.input, .select{
    margin-left: 4rem;
}

.title{
    color: green;
    text-align: center;
}

.list{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.add{
    border-top: 4px solid green;
    padding-top: 1rem;
}

.character{
    color: green;
}